/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url('https://fonts.cdnfonts.com/css/pp-neue-montreal');
@import url('https://fonts.cdnfonts.com/css/merchant');

@font-face {
  font-family: 'ZT Formom';
  src: url('fonts/ZT-Regular.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: 'ZT Formom';
  src: url('fonts/ZT-Italic.woff2') format('woff2');
  font-style: italic;
  letter-spacing: -0.5px;
}


*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'PP Neue Montreal', sans-serif;
  color: #040f4e;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
  /* For Chrome, Safari, and Edge */
}

html {
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
}

p {
  color: rgb(85, 85, 85);
	letter-spacing: 0.03em;
}

/* PAGE CURSOR */

.cursor-dot,
.cursor-dot-outline {
  pointer-events: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 9999;
  border-radius: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

.cursor-dot {
  size: 15px;
  width: 15px;
  height: 15px;
  background-color: #e85f7a;
}

.cursor-dot-outline {
  size: 25px;
  width: 25px;
  height: 25px;
  background-color: #e85f7a2d;
}

/* NAVIGATION BAR */

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  background: linear-gradient(#ffffff, #ffffff00);
}

.nav-bar.animated {
  transform: translateY(-100%);
  opacity: 0;
  animation: fadeInNav 1s ease-out forwards;
}

@keyframes fadeInNav {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


.logo {
  margin-left: 25px;
}

.circle-logo {
  width: 32px;
  height: 32px;
  background: linear-gradient(to bottom, #e33c78, #eb7d7d);
  border-radius: 50%;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  vertical-align: middle;
}

.circle-logo:hover {
  box-shadow: 0 0 15px rgba(227, 60, 120, 0.5);
  /* Feather glow effect */
}

.nav-links {
  display: flex;
  margin-left: 3rem;
}

.nav-links li {
  list-style: none;
  display: inline-block;
  position: relative;
}

.nav-links li a {
  color: #030f49;
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 25px;
  position: relative;
  transition: color 0.2s ease-in-out;
}

.contact-btn a {
  color: #040f4e;
  font-size: 13px;
  font-weight: 500;
  margin-right: 25px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 5px;
  position: relative;
  transition: color 0.2s ease-in-out;
}

.contact-btn {
  position: relative;
}

.contact-btn img {
  fill: #040f4e;
  width: 19px;
  height: 19px;
  position: relative;
  top: 4px;
}

.contact-btn i {
  font-size: 17px;
  color: #040f4e;
  position: relative;
  top: 3px;
  margin-left: 0.3rem;
}

.back-btn i{
  padding-right: 1.6rem;
}


#menu-icon {
  display: none;
  /* Hide menu icon by default (desktop view) */
}

.connect-btn {
  display: none;
}

.nav-links li a:hover {
  color: #e85f7b;
}

.nav-links li a.active {
  color: #e85f7b;
}

@media(max-width:1000px) {

  .nav-links {
    position: absolute;
    top: 0;
    right: -100%;
    /* width: 300px; */
    width: 100%;
    height: 130vh;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 200px 30px;
    transition: all .42s;
  }

  .nav-links a {
    color: #4B5681;
    display: block;
    margin: 25px 0;
  }

  .nav-links.open {
    right: 0;
  }

  #menu-icon {
    color: #040f4e;
    display: block;
    /* Show menu icon in mobile view */
    position: absolute;
    top: 35px;
    right: 45px;
    font-size: 30px;
    cursor: pointer;
  }

  .contact-btn {
    display: none;
  }

  .connect-btn {
    display: block;
  }

}

/* INDEX PAGE MAIN CONTENT */

.index-main-container {
  margin: 0 auto;
  padding: 0 60px;
  max-width: 1500px;
  margin-top: 2rem;
  user-select: none;
}


/* HERO SECTION */

.hero-main-container {
  display: flex;
  justify-content: center;
  align-items: end;
  min-height: 50vh;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.hero-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.hero-box {
  position: relative;
  display: flex;
  align-items: center;
}

.hero-box h1 {
  font-family: serif;
  letter-spacing: -0.5px;
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 3.5rem;
  text-align: left;
  color: #4B5681;
}

.hero-bottom-txt{
  font-family: 'PP Neue Montreal', sans-serif;
  font-size: 20px;
  letter-spacing: 0.5px;
  font-weight: 400;
}

.hero-memoji-img {
  position: relative;
  bottom: 20px;
  background-size: cover;
  background-position: center;
  height: 230px;
  width: 230px;
}

.underline-img {
  position: absolute;
  left: 140px;
  bottom: 46px; 
  width: 138px; 
}

.surprise-img {
  position: absolute;
  right: 20px; 
  top: 20px;
  width: 22px; 
    animation: retroSway 1s steps(2) infinite;
}


/* CASE STUDIES SECTION */

.case-container {
  display: grid;
  place-items: center;
  padding: 0px 80px;
  margin-top: 7rem;
  margin-bottom: 2rem;
}

.case-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.bottom-case {
  display: grid;
  grid-template-columns: 1fr;
  margin: 4rem 0;
}

.case-box {
  background: #f5f5f500;
  border-radius: 10px;
}

.case-text p {
  font-size: 17px;
  font-weight: 400;
  color: #040f4e;
  padding-left: 0.5rem;
  margin-top: 20px;
}

.case-text i {
  font-size: 18px;
  color: #040f4e;
  position: relative;
  top: 3px;
}

.case-text a {
  text-decoration: none;
}

.case-left {
  display: flex;
  align-items: center;
  justify-content: stretch;
  overflow: hidden;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.case-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.case-right {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.case-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.case-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.case-bottom img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

/* Hover Effects */
.case-left:hover img {
  transform: scale(1.05);
}

.case-right:hover img {
  transform: scale(1.05);
}

.case-bottom:hover img {
  transform: scale(1.05);
}

/* NAME TAGS OR PILLS */

.tag-container {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  margin-top: 1.5rem;
}

.tag {
  background-color: #f5f5f5;
  color: #333;
  font-size: 13px;
  font-weight: 400;
  padding: 8px 16px;
  border-radius: 20px;
  display: inline-block;
  white-space: nowrap;
}

.stud-head {
  display: flex;
  justify-content: space-between;
}

.stud-number p{
  color: #c7c9d5;
}

/* FOOTER SECTION */

footer {
  margin: 0 auto;
}

.foot-wrapper {
  font-family: 'PP Neue Montreal', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  padding: 5% 10% 9% 10%;
  background: linear-gradient(#ffffff00, #ffffff);
}

footer p {
  font-size: 14px;
  color: #4B5681;
  margin-bottom: 10%;
}

footer h2 {
  color: #040f4e;
  font-size: 1.4rem;
  font-weight: 400;
}

.foot-mail {
  color: #040f4e;
  font-size: 1.4rem;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.foot-mail:hover {
  color: #c93d5e;
  text-decoration: underline;
  text-decoration-color: #c93d5e;
}

.foot-text p,
span {
  user-select: none;
}

footer span {
  color: #8187a4;
  padding-right: 1.6rem;
}


footer .foot-links {
  display: flex;
  gap: 25px;
}

.foot-links a {
  text-decoration: none;
}

.foot-links i {
  font-size: 30px;
}

.footlink-color {
  color: #030f49;
  transition: color 0.2s ease-in-out;
}

.footlink-color:hover {
  color: #e03400;
}

/* COPYRIGHTS */

.end-text {
  text-align: center;
  padding-bottom: 5px;
  font-size: 14px;
}

.end-text p {
  color: #4B5681;
  position: relative;
  z-index: 2;
}

.end-empty {
  background-color: rgb(232, 232, 232);
  height: 12px;
}

.wave-top {
  position: relative;
  margin-top: -20px;

}

.wave-top::before,
.wave-top::after {
  border-bottom: 5px solid rgb(232, 232, 232);
  z-index: 0;
}

.wave-top::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 45px;
  background-size: 20px 40px;
  background-image: radial-gradient(circle at 10px -15px, transparent 20px, rgb(232, 232, 232) 21px);
}

.wave-top::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  background-size: 40px 40px;
  background-image: radial-gradient(circle at 10px 26px, rgb(232, 232, 232) 20px, transparent 21px);
}

/* SCROLL ANIMATION JS Main*/

/* .hidden {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s 0.5s ease-in-out, transform 1s ease-in-out 0.5s;
}

.show {
  opacity: 1;
  transform: translateY(0);
} */

.hidden {
  transform: translateY(50px);
  transition: transform 1s ease-in-out;
}

.show {
  transform: translateY(0); 
}

.hero-main-container.hidden {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s 0.5s ease-in-out, transform 1s ease-in-out 0.5s;
}

.hero-main-container.show {
  opacity: 1;
  transform: translateY(0);
}


.case-right.hidden {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s 1s ease-in-out, transform 1s ease-in-out 1s;
}

.case-right.show {
  opacity: 1;
  transform: translateY(0);
}

.case-left.hidden {
  opacity: 0;
  transform: translateY(-30px); 
  transition: opacity 1s 1s ease-in-out, transform 1s ease-in-out 1s;
}

.case-left.show {
  opacity: 1;
  transform: translateY(0);
}

/* HR ANIMATION CSS */

hr {
  border: 0;
  height: 1.5px;
  /* Adjust thickness */
  background-color: #7e7e974b;
  width: 0;
  /* Initially hidden */
  transition: width 2s ease-in-out;
}

hr.show {
  width: 100%;
  /* Expands to full width */
}

/* FLOAT ANIMATION */

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.float-animation {
  animation: float 2s ease-in-out infinite;
}

.retro{
  animation: retroSway 1s steps(2) infinite;
}

/* EXTRA ANIMATIONS TO USE */

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slide-in {
  0% {
    top: -300px;
  }

  100% {
    top: 0;
  }
}

@keyframes scaleDown {
  0% {
    transform: scale(1);
  }

  10% {
    transform: scale(0.7);
  }

  95% {
    transform: scale(0.7);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes reveal-info {
  0% {
    height: 0;
  }

  5% {
    height: 350px;
  }

  95% {
    height: 350px;
  }

  100% {
    height: 0;
  }
}

/* Animation Keyframes */
@keyframes retroSway {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2025-5-3 21:35:14
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shadow-drop-br
 * ----------------------------------------
 */
@keyframes shadow-drop-br {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.27);
  }
}

